In [2]:
print("Hello")

Hello

In [2]:
import pandas as pd
import numpy as np

In [7]:
dic = {
    'employee_name' : ['Malavan', 'Adhith', 'Jathu'],
    'employee_id' : [1234, 4324, 4545],
    'email' : ['malavansa@gmail.com', np.nan, np.nan]
    
}

In [8]:
df = pd.DataFrame(dic, index=range(len(dic)))
df

  employee_name  employee_id                email
0       Malavan         1234  malavansa@gmail.com
1        Adhith         4324                  NaN
2         Jathu         4545                  NaN

In [8]:
d = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}

In [11]:
s = pd.Series(d, index=['x', 'y', 'z'])
s

x   NaN
y   NaN
z   NaN
dtype: float64

In [9]:
books = ['pandas', 'python', 'SQL', 'DAX', 'Stats']
s = pd.Series(data=books, copy=False, index=pd.date_range(start='11/22/2022', periods=len(books)))
s.iloc[1] = 'Data Science'
print(books)
s

['pandas', 'python']

2022-11-22          pandas
2022-11-23    Data Science
Freq: D, dtype: object

In [24]:
r = [1,2]
ser = pd.Series(r, copy=False)
ser.iloc[0] =999
ser

0    999
1      2
dtype: int64

In [23]:
r = np.array([1,2])
ser = pd.Series(r, copy=False)
ser.iloc[0] =999
r

array([999,   2])