In [1]:
import re #1

text ='maks 123 &^$# 456 @gmail. 876'

pattern = re.compile(r'\d\d\d') #2 make the pattern and keep it as raw string

matches = pattern.finditer(text) # conduct search using created pattern object

for match in matches:
    print(match.group())

123
456
876

In [8]:
text = '''

\W matches any character that’s not a letter, digit, or underscore. It prevents the regex from matching characters before or after the email address.
^ matches the start of a new line. Allows the regex to 31-Aug-2019 match the address if it appears at the beginning of a line, with no characters before it.
$ matches the end of a line. Allows the regex to match the address if it appears at the end of a line, with no characters after it.
[\w.\-] matches any 04-Dec-2009 word character (a-z, A-Z, 0-9, or an underscore), a period, or a hyphen. These are the most commonly used valid characters in the first part of an email address. The \- (which indicates a hyphen) must occur last in the list of characters within the square brackets.
The \ before the dash and period “escapes” these characters—that is, 20-apr-1987 it indicates that the dash and period aren't a regex special characters themselves. There's no need to escape the period within the square brackets.
{0,25} indicates that from 0 to 25 characters in the preceding character set can occur before the @ symbol. The Content Compliance email setting supports matching of up to 25 characters for each character set in a regular expression.
The (...) formatting groups the domains, and the | character that separates them indicates an “or.”

'''

In [2]:
import re
pattern_1 = re.compile(r'\d\d-[a-zA-Z]{3}-\d{4}')
pattern_2 = re.compile(r'C[a-zA-z]{5,}')
matches = pattern.findall(text)
matches

['123', '456', '876']

In [19]:
matches_2 = pattern_2.findall(text)
matches_2

['Content', 'Compliance']

In [27]:
import io
f = open(r'test_emails.txt', 'r')

In [3]:
for line in f.split('n'):
    if 'From:' in line:
        print(line)

NameError: name 'f' is not defined

In [33]:
ls = [1, 2, 3, 4, 5] + [2, 4, 5]
ls

[1, 2, 3, 4, 5, 2, 4, 5]

In [34]:
import numpy as np

In [45]:
np_ls = np.array([1, 2, 4, 5], dtype='object')
print(np_ls.dtype)
print(np_ls)

object
[1 2 4 5]

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(
    {
        "string": list("abc"),
        "int64": list(range(1, 4)),
        "uint8": np.arange(3, 6).astype("u1"),
        "float64": np.arange(4.0, 7.0),
        "bool1": [True, False, True],
        "bool2": [False, True, False],
        "dates": pd.date_range("now", periods=3),
        "category": pd.Series(list("ABC")).astype("category"),
    }
)

In [9]:
df

,string,int64,uint8,float64,bool1,bool2,dates,category
0,a,1,3,4.0,True,False,2023-01-15 11:10:48.338778,A
1,b,2,4,5.0,False,True,2023-01-16 11:10:48.338778,B
2,c,3,5,6.0,True,False,2023-01-17 11:10:48.338778,C

In [50]:
df.dtypes

string              object
int64                int64
uint8                uint8
float64            float64
bool1                 bool
bool2                 bool
dates       datetime64[ns]
category          category
dtype: object

In [60]:
df.assign(
    tdelats = lambda x : x.dates.diff(),
    uint = np.arange(3,6).astype('u8'),
    other_dates = pd.date_range("20130420", periods=3)
).dtypes

string                  object
int64                    int64
uint8                    uint8
float64                float64
bool1                     bool
bool2                     bool
dates           datetime64[ns]
category              category
tdelats        timedelta64[ns]
uint                    uint64
other_dates     datetime64[ns]
dtype: object

In [59]:
df.dtypes

string              object
int64                int64
uint8                uint8
float64            float64
bool1                 bool
bool2                 bool
dates       datetime64[ns]
category          category
dtype: object